@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Order your products easily with our async processing system!</p>
    <a class="btn btn-primary" href="/Order/Create">Create Order</a>
</div>
